#nav-title {
    overflow:hidden;
}

#navbar-icon {
    width: 40px;
    height: 40px;
}

/* .nav-item {
    font-size: 15px !important;
} */

.intro-paragraph {
    font-size: 14px;
}

#project-sub {
    font-size: 12px;
}

.card-text {
    font-size: 12px;
}